<header>
  <div class="page-container md-layout-column">
    <md-toolbar class="md-primary">
      <md-button class="md-icon-button" @click="showNavigation = true">
        <md-icon>menu</md-icon>
      </md-button>
      <a href="/" class="header-text md-title">Zonkie</a>
    </md-toolbar>

    <md-drawer :md-active.sync="showNavigation">
      <md-toolbar class="md-transparent" md-elevation="0">
        <span class="md-title">My Zonkie</span>
      </md-toolbar>

      <md-list>
        <md-list-item>
          <md-icon>email</md-icon>
          <span @click="openSupportModal()" class="md-list-item-text clickable">Kontaktovat podporu</span>
        </md-list-item>

        <md-list-item>
          <md-icon>error</md-icon>
          <span class="md-list-item-text clickable">Logout</span>
        </md-list-item>
      </md-list>
    </md-drawer>
  </div>

  <md-dialog class="modal" :md-active.sync="showDialog">
    <zonkie-support></zonkie-support>
  </md-dialog>

  <md-dialog class="modal" :md-active.sync="showConfirmation">
    <h1 class="mt-3">Zpráva byla úspěšně odeslána</h1>
    <p class="mt-3">Podpora Vás bude kontaktovat ihned, jak to bude možné.</p>
  </md-dialog>
</header>
