<div class="row">
  <div class="col-md-12 loan-calculator">
    <div class="loan-calculator__result">Průměrná výše úvěrů: <strong>{{ this.averageLoanAmount | currency }}</strong></div>
  </div>
</div>
