<form
  id="app"
  @submit.prevent="validateBeforeSubmit"
  action=""
  method="post"
  novalidate>
  <md-dialog-title>Kontaktovat podporu</md-dialog-title>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <md-field :class="{'md-invalid': errors.has('name')}">
          <label>Jméno</label>
          <md-input
            name="name"
            v-validate="'required'"
            v-model="support.name"
            id="1"
            type="text"
            required>
          </md-input>
          <md-icon v-if="errors.has('name')" class="md-accent">warning</md-icon>
          <span class="md-error" v-if="errors.has('name')">Zadejte jméno</span>
        </md-field>
      </div>
      <div class="col-lg-6 col-md-12">
        <md-datepicker
        :class="{'md-invalid': errors.has('date')}"
        name="date"
        v-model="support.date"
        v-validate="'required'"
        md-immediately
        :md-disabled-dates="disabledDates"
        required/>
      </div>
    </div>

    <md-field :class="{'md-invalid': errors.has('title')}">
      <label>Předmět</label>
      <md-input
        name="title"
        v-validate="'max:256|required'"
        v-model="support.title"
        md-counter="256"
        maxlength="257"
        id="2"
        type="text"
        required/>
      </md-input>
      <md-icon v-if="errors.has('title')" class="md-accent">warning</md-icon>
      <span class="md-error" v-if="errors.has('title')">Zadejte předmět zprávy</span>
    </md-field>

    <md-field :class="{'md-invalid': errors.has('mail')}">
      <label for="email">Email</label>
      <md-input
        v-model="support.mail"
        v-validate="'required|email'"
        data-vv-as="email"
        type="email"
        id="mail"
        name="mail"
        required/>
      <md-icon v-if="errors.has('mail')" class="md-accent">warning</md-icon>
      <span v-if="errors.has('mail')" class="md-error">Vyplňte email</span>
    </md-field>

    <md-field :class="{'md-invalid': errors.has('message-body')}">
      <label for="message-body">Zpráva</label>
      <md-textarea
        v-model="support.body"
        v-validate="'required'"
        type="text"
        name="message-body"
        id="message-body"
        required>
        <md-icon v-if="errors.has('message-body')" class="md-accent">warning</md-icon>
        <span v-if="errors.has('mail')" class="md-error">Vyplňte tělo zprávy</span>
      </md-textarea>
    </md-field>

  <md-button @click="validateBeforeSubmit" class="md-raised md-primary float-right" value="Submit">Send</md-button>
</form>
