#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.container {
  margin-top: 40px;
}

.clickable {
  cursor: pointer;
}

.header-text {
  cursor: pointer;

  &:hover {
    text-decoration: none !important;
  }
}
