.loan-calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;

  @include media-breakpoint-up(md) {
    min-height: 0;
    justify-content: flex-end;
  }
}

.loan-calculator__result {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
}
