.loan-list__item {
  padding: 10px 20px;
  margin: 10px 0 20px;
}

.loan-list__amount,
.loan-list__percentage {
  display: block;
  font-size: 14px;
  font-weight: 700;
}

.loan-list__cta {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
}
