//Workaround for dynamic layout with datepicker
.md-datepicker-dialog {
  height: 286px;
}

.md-datepicker-body-content {
  height: 232px !important;
}

.md-invalid.md-field.md-theme-default.md-has-textarea:not(.md-autogrow):after {
  border-color: #ff1744 !important;
}
