.spinner-wrapper {
  display: fixed;
  width: 100%;
  height: 100vw;
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  top: 0;
  left: 0;
  z-index: 9998;
}

.spinner-center {
  position: fixed !important;
  top: 50%;
  z-index: 9999;
}
