<div>
  <div class="row">
    <div class="col-md-8">
      <md-field>
        <label for="loanRatings">Hodnocení půjčky</label>
        <md-select v-model="selected" name="loanRatings" id="loanRatings">
          <md-option v-for="(item, index) in rating" :value="index" :key="index">{{ item }}</md-option>
        </md-select>
      </md-field>
    </div>
    <div class="col-md-4 align-self-center">
      <md-button v-on:click="getLoanRatingCode" class="md-raised md-primary align-self-center md-float-right">Spočítej</md-button>
    </div>
  </div>
</div>
