<div>
  <div class="row">
    <div class="col-md-6">
      <loan-rating-filter></loan-rating-filter>
    </div>
    <div class="col-md-6 align-self-center float-right text-right">
      <loan-average-calculator></loan-average-calculator>
    </div>
  </div>
  <loan-list></loan-list>
</div>
