<template>
  <div id="app">
    <zonkie-header></zonkie-header>
    <div class="container">
      <!-- TODO: Change to better zonkie-related content -->
      <img src="./assets/logo.png">
      <router-view/>
    </div>
  </div>
</template>

<script>
import ZonkieHeader from './components/zonkieHeader/zonkieHeader'

export default {
  name: 'App',

  components: {
    ZonkieHeader
  }
}
</script>
