<div>
  <loading-spinner v-if="isLoading"></loading-spinner>
  <div class="row loan-list">
    <div class="col-lg-4 col-md-6 col-sm-12" v-for="(loan, index) in loansData" :key="index">
      <md-card class="loan-list__item">

        <md-card-header>
          <div class="col-lg-12">
            <div class="md-title">
              <a href="#" target="_blank" v-bind:href="loan.url">{{ loan.name }}</a>
            </div>
            <div class="md-subhead md-subheading">{{ loan.nickName }}</div>
          </div>

          <div class="col-lg-12">
            <v-lazy-image :src="getImageUrl(index)" class="img-responsive" :alt="loan.name" />
          </div>
        </md-card-header>

        <div class="row">
          <div class="col-md-6">
            <div class="loan-list__amount text-left">{{ loan.amount | currency }}</div>
          </div>

          <div class="col-md-6">
            <div class="loan-list__percentage text-right">{{ progressBarAmount[index] | round }} %</div>
          </div>

          <div class="col-md-12 mt-4">
            <md-progress-bar md-mode="determinate" :md-value="progressBarAmount[index] | round"></md-progress-bar>
          </div>
        </div>

        <p class="mt-4">{{ loan.story | truncate(50) }}</p>

        <div class="loan-list__cta">
          <md-badge md-position="top" v-bind:md-content="getLoanRating[index]">
            <md-button v-bind:href="loan.url" target="_blank" class="md-dense md-raised md-primary mr-0">Go!!!</md-button>
          </md-badge>
        </div>
      </md-card>
    </div>
  </div>
</div>
